<template>
  <div class="file">
      <div class="file__icon img_box">
        <img src="../assets/images/svg/file_icon.svg" alt="file">
      </div>
      <span class="file__name">{{name}}</span>
  </div>
</template>

<script>
export default {
  name: 'FileView',
  props: {
    name: String
  }
}
</script>

<style scoped lang="scss">

</style>
