<template>
  <div class="wrapper">
    <div class="center_box">
      <FolderView name="$" :folders="folders" :files="files" />
    </div>
  </div>
</template>

<script>
import FolderView from './components/FolderView.vue'
import data from './data/list';

export default {
  name: 'App',
  components: {
    FolderView
  },
  data: () => data
}
</script>

<style lang="scss">
@function vwSize($size) {
  $vwSize: $size * 100 / 980;
  @return #{$vwSize}vw;
}

@function mdSize($size) {
  $vwSize: $size * 100 / 700;
  @return #{$vwSize}vw;
}

@function smSize($size) {
  $vwSize: $size * 100 / 400;
  @return #{$vwSize}vw;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}

.wrapper {
  background: linear-gradient(153.06deg, #09203F -0.31%, #537895 99.69%);
  min-height: 100vh;
}

.center_box {
  width: vwSize(940);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.file {
  position: relative;
  width: vwSize(280);
  margin: vwSize(10);
  padding: vwSize(10);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border-radius: vwSize(4);
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: vwSize(50);
    margin-right: vwSize(20);
  }
  &__name {
    font-size: vwSize(20);
    line-height: vwSize(23);
    color: #fff;
    display: inline-block;
    vertical-align: middle;
  }
}

.img_box {
  font-size: 0;
  img {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .file {
    width: mdSize(310);
    margin: mdSize(10);
    padding: mdSize(10);
    border-radius: mdSize(4);
    &__icon {
      width: mdSize(50);
      margin-right: mdSize(20);
    }
    &__name {
      font-size: mdSize(20);
      line-height: mdSize(23);
    }
  }
}
@media screen and (max-width: 400px) {
  .file {
    width: 100%;
    margin: smSize(10);
    padding: smSize(10);
    border-radius: smSize(4);
    &__icon {
      width: smSize(50);
      margin-right: smSize(20);
    }
    &__name {
      font-size: smSize(20);
      line-height: smSize(23);
    }
  }
}
</style>
